@import "reset";
@import "variaveis";

body {
  font-size: $font_size;
  font-family: $font_primary;
  width: 100%;
  height: 100vh;
  background-color: $background;
}

header {
  margin: 0 auto;
  width: $desktop;
}

.header {
  margin: 0 auto;
  margin-top: 100px;
  width: 760px;
  text-align: center;
  h1 {
    font-size: 3em;
    font-weight: 200;
    color: $very_dark_blue;
  }
  h2 {
    font-size: 3em;
    margin-top: 10px;
    font-weight: bold;
    color: $very_dark_blue;
  }
  h3 {
    width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1.2em;
    color: $gravish_blue;
  }
}

main {
  width: $desktop;
  margin: 0 auto;
}

.main {
  display: flex;
  height: 60vh;
}

article {
  display: flex;
  flex: 1;
}

.left {
  background-color: deeppink;
  display: flex;
}

.supervisor {
  background-color: deepskyblue;
  display: flex;

  justify-content: center;
  align-items: center;
  height: 33%;
}

.center {
  display: flex;
  flex-direction: column;
}

.right {
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: $footer;
  }
}
